ul {
    font-size: 1.8em;
    background: rgb(220,8,20);
    color: white;
    text-align: center;
}
li {
    display: inline-block;
    padding: 20px;
}
li.contactos {
    margin-right: 50px;
}
a.enlace-menu {
    text-decoration: none;
    color: white;
}
a.enlace-menu:hover {
    font-size: 1.05em;
}