h1, h2 {
    text-align: center;
}
img {
    margin: 0 auto 0 auto;
    display: block;
}
p {
    text-align: center;
}
h2.font-cinzel {
    font-family: 'Cinzel', serif;
}
h2.font-reggae {
    font-family: 'Reggae One', Arial, Helvetica, sans-serif;
    font-size: 3.5em;
}
.fuente-roboto {
    font-family: 'Roboto', sans-serif;
    font-size: 5em;
}
.fuente-negrita {
    font-weight: bold;
}
.fuente-italica {
    font-size: 32pt;
    font-style: italic;
}
span.resaltado {
    font-size: 3em;
    color: lightseagreen;
    font-weight: bold;
    font-family: 'roboto', serif;
}
/* reggae-one-regular - latin */
@font-face {
    font-family: 'Reggae One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/reggae-one-v1-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/reggae-one-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/reggae-one-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/reggae-one-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/reggae-one-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/reggae-one-v1-latin-regular.svg#ReggaeOne') format('svg'); /* Legacy iOS */
  }
